/* General Layout styles */

.pull {
  position: relative;
  width: 100%;
}

.pull-right {
  float: right;
  margin-left: -50%;
  right: calc(-50%);
}

.pull-left {
  float: left;
  left: calc(-50%);
  margin-right: -50%;
}

.clear {
  clear: both;
  margin-bottom: 35px;
}

.visualization {
  position: relative;
}
